.map-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.map-surface {
  position: relative;
  flex: 1;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.map-container {
  width: 100%;
  height: 100%;
  background-color: #f1f5f9;
}

/* Modificar estilos por defecto de leaflet en Leaflet-Container (si es necesario) */
::ng-deep .leaflet-container {
  font-family: inherit;
}

::ng-deep .rally-cursor,
::ng-deep .rally-cursor .leaflet-interactive {
  cursor: crosshair !important;
}
